<div class="main-container">
    <div class="main-wrapper">
        <p class="title">Price Plan</p>
        <div>
            <p class="subtitle">Calculate total Phone bill for user</p>
            <form action="price_pa" method="Post">
                <div class="middle-container">
                    <p class="name-label" for="name">name: </p>
                    <input class="name" type="name" value="" name="name" placeholder="Enter your name" />
                </div>
                <div>
                    <select>
                        <option name="plan" class="plan" value="SMS 100">SMS 100</option>
                        <option name="plan" class="plan" value="SMS 200">SMS 200</option>
                        <option name="plan" class="plan" value="Call Weekly">Call Weekly</option>
                    </select>
                </div>
                <button class="submit-button" type="submit">Submit Plan</button>
            </form>
        </div>

    </div>
</div>