<div class="main-container">
    <div class="main-wrapper">
        <p class="title">Phone Bill</p>
        <div>
            {{#each users}}
            <a href="/price_plan/{{username}}">
                {{username}}
            </a>
            {{/each}}
        </div>
    </div>
</div>