<div class="main-container">
    <div class="main-wrapper">
        <p>Phone Bill Widget</p>
        <div>
            <p>Calculate total Phone bill for user</p>
            <form action="/link_user" method="Post">
                <div>
                    <lable for="name">Username</lable>
                    <input type="name" value="" name="name" />
                </div>
                <div>
                    <select title="select plan" type="text" name="plan">
                        <option name="plan" class="plan" value="SMS 100">SMS 100</option>
                        <option name="plan" class="plan" value="SMS 200">SMS 200</option>
                        <option name="plan" class="plan" value="Call Weekly">Call Weekly</option>
                    </select>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>