<div class="main-container">
    <div class="main-wrapper">
        <p class="title">Phone Bill</p>
        <div class="users-container">
            {{#each users}}
            <a href="/price_plan/{{username}}">
                <p class='username'>{{username}}</p>
            </a>
            {{/each}}
        </div>
    </div>
</div>