<div class="main-container">
    <div class="main-wrapper">
        <p class="title">Plan Details</p>
        <div>
            {{#user}}
            {{username}}{{plan_name}}{{sms_price}}{{call_price}}
            {{/user}}
        </div>
    </div>
</div>